<ion-card class="card-center">
  <img class="card-image" [src]="user.photo" alt="...">
  <ion-card-header>
    <ion-card-title class="card-title">{{ user.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="card-content">
    <p> {{ user.age }} years old</p>
    <p>Job: {{ user.description }}</p>
    <p>Interests: {{ user.interests[0] }},
      {{ user.interests[1] }}, {{ user.interests[2] }}</p>
    <p>Address {{ user.location.address }}</p>
    <p>Zip: {{ user.location.zip }}</p>
    <p>City: {{ user.location.city }}</p>
  </ion-card-content>

  <div class="buttons-div">
    <div *ngIf="!all">
      <ion-fab-button (click)="toDislike(false, user)" class="mx-auto" color="danger">
        <ion-icon name="thumbs-down"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
  <div *ngIf="all">
    <div class="buttons-div">
      <ion-fab-button (click)="toDislike(false, user)" class="mx-auto" color="danger">
        <ion-icon name="thumbs-down"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toLike(true, user)" class="mx-auto" color="success">
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
</ion-card>
