<ion-content>

  <form [formGroup]="userForm">

    <ion-item>
      <ion-label class="label" position="floating">Name</ion-label>
      <ion-input formControlName="name" class="input" inputmode="text" name="name" [(ngModel)]="user.name" required>
      </ion-input>
    </ion-item>
    <app-form-input-error [form]="userForm" formInput='name'></app-form-input-error>

    <ion-item>
      <ion-label class="label" position="floating">Gender</ion-label>
      <ion-input formControlName="gender" class="input" inputmode="text" name="gender" [(ngModel)]="user.gender"
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label" position="floating">Age</ion-label>
      <ion-input formControlName="age" class="input" inputmode="number" name="age" [(ngModel)]="user.age" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label" position="floating">Description</ion-label>
      <ion-textarea formControlName="description" name="description" [(ngModel)]="user.description" required>
      </ion-textarea>
    </ion-item>
    <app-form-input-error [form]="userForm" formInput='description'></app-form-input-error>

    <ion-item>
      <ion-label class="label" position="floating" required>Zip Code</ion-label>
      <ion-input formControlName="zip" class="input" inputmode="text" placeholder="Zip Code" name="zip"
        [(ngModel)]="user.location.zip" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label" position="floating" required>City</ion-label>
      <ion-input formControlName="city" inputmode="text" placeholder="City" name="city" [(ngModel)]="user.location.city"
        required>
      </ion-input>
    </ion-item>
    <app-form-input-error [form]="userForm" formInput='city'></app-form-input-error>

    <ion-item>
      <ion-label class="label" position="floating" required>Address</ion-label>
      <ion-input formControlName="address" class="input" inputmode="text" placeholder="Address" name="address"
        [(ngModel)]="user.location.address" required></ion-input>
    </ion-item>
    <app-form-input-error [form]="userForm" formInput='address'></app-form-input-error>

    <ion-item>
      <ion-label class="label" position="floating">Interests / 1</ion-label>
      <ion-input formControlName="interestFirst" class="input" placeholder="My hobby is..." name="interestFirst"
        [(ngModel)]="user.interests[0]"></ion-input>
    </ion-item>
    <app-form-input-error [form]="userForm" formInput='interestFirst'></app-form-input-error>

    <ion-item>
      <ion-label class="label" position="floating">Interests / 2</ion-label>
      <ion-input formControlName="interestSecond" placeholder="My hobby is..." name="interestSecond"
        [(ngModel)]="user.interests[1]">
      </ion-input>
    </ion-item>
    <app-form-input-error [form]="userForm" formInput='interestSecond'></app-form-input-error>

    <ion-item>
      <ion-label class="label" position="floating">Interests / 3</ion-label>
      <ion-input formControlName="interestThird" class="input" placeholder="My hobby is..." name="interestThird"
        [(ngModel)]="user.interests[2]"></ion-input>
    </ion-item>
    <app-form-input-error [form]="userForm" formInput='interestThird'></app-form-input-error>

    <div class="buttons-div">
      <ion-fab-button>
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [disabled]="!userForm.valid" type="submit" color="success">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </div>

  </form>

</ion-content>
